ody{
    text-align: center;
    background-color: rgb(245, 233, 196);
}
.btn-container {
    display : flex;
    justify-content:center;
}
.btn{
    height : 200px;
    width:200px;
    border-radius:20%;
    border:10px solid black ;
    margin:2.5rem;

}
.red {
    background-color: rgb(250, 107, 200);
}
.green {
    background-color: rgb(0, 128, 98);
}
.yellow {
    background-color: rgb(255, 145, 0);
}
.purple {
    background-color: rgb(85, 177, 213);;
}
.flash {
    background-color: aliceblue;
}
.user-flash {
    background-color: green;
}

h1 {
    background-color: lightblue;
    border: 5px solid black;
    padding: 20px 50px;
    border-radius: 30px;
    display: inline-block;
}

h3 {
    color : white ;
    font-size : 2rem;
}
